.header {
	padding: 36px 0;
	background-color: #f6f7ff;
}

.header__container {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	margin: 0 auto;
	width: 1170px;	
}

.header__login {
	display: grid;
	grid-auto-flow: column;
	column-gap: 10px;
	place-content: center end;
	vertical-align: middle;
}

.login {
	:hover {
		opacity: 0.7;
	}
}

.login__text {
	align-self: center;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	line-height: 18.75px;
}

.option {
	display: grid;
	grid-auto-flow: column;
	column-gap: 10px;
	padding: 0;
	font-family: Roboto, sans-serif;
}

.option__link {
	font-size: 16px;
	line-height: 18.75px;
	&:hover {
		opacity: 0.7;
	}

	&--active {
		color: #2c36f2;
	}
}
